<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>VIEW</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>VIEW</h1>
        <hr/>
    <l th:text="${isi1}"></l>
    <br/><br/>
    <l th:text="${isi2}"></l>
    <br/><br/>
    <img th:src="${isi3}">
    </body>
</html>